{% extends 'base.html' %}
{% load static %}

{% block title %}
    Edit task
{% endblock title %}


{% block content %}

    <div class="row justify-content-center text-center">
        <h1><strong>Account Settings</strong> </h1>
        <form method="POST" >
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Save Changes">
            <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'tasks' %}'">Return</button>
        </form>
    </div>

{% endblock content %}