{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extra_css%} 

{% block title %}
    Create Category
{% endblock title %}

{% block logo %}
<img src="{% static 'images/doit.png' %}" alt="Logo">
{% endblock logo %}

{% block content %}


  <p class="h1 text-center">
    <i class="fas fa-check-square lg"></i>
    <u>To Do:</u>
  </p>


  <table>
      <tr>
          <th>Item</th>
          <th></th>
      </tr>
      {% for category in categories %}
      <tr>
          <td>{{category.name}}</td>

         
          <td><a href="{% url 'edit_category' category.name %}" class="text-info" data-mdb-tooltip-init title="Edit todo"><i class="fas fa-pencil-alt me-3"></i></a></td>
          
          <td><a href="{% url 'delete_category' category.name %}" class="text-danger" data-mdb-tooltip-init title="Delete todo"><i class="fas fa-trash-alt"></i></a></td>
      </tr>
      {% empty %}
          <h3> No items in list </h3>
      {% endfor %}
  
  </table> 
  </table> 
  
  <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'create_category' %}'">Create New</button>
  <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'tasks' %}'">Return</button>
{% endblock content %}

