{% extends 'base.html' %}
{% load static %}

{% block title %}
    Delete Category
{% endblock title %}

{% block content %}
    <h1>Delete Category</h1>
    <p>Are you sure you want to delete the category "<strong>{{ category.name }}</strong>"?</p>
    <form method="POST">
        {% csrf_token %}
        <div class="buttons-container">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'categorys' %}'">Return</button>
        </div>
    </form>
{% endblock %}