{% extends 'base.html' %}
{% load static %}

{% block title %}
    Delete Task
{% endblock title %}

{% block logo %}
<img src="{% static 'images/doit.png' %}" alt="Logo">
{% endblock logo %}

{% block content %}

<div class="row justify-content-center text-center">
    <div class="col-md-12">
        <h1><strong>Delete Item</strong></h1>
    </div>

    <div class="col-md-12 mb-3">
        <p>Are you sure you want to delete "<strong>{{ task }}</strong>"?</p>
    </div>

    <div class="d-flex justify-content-center gap-3">
        <form method="POST">
            {% csrf_token %}
            <div class="buttons-container">
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'tasks' %}'">Return</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
