{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extra_css%}
{% block title%}
    Todo List
{% endblock title%}

{% block logo %}
<img src="{% static 'images/doit.png' %}" alt="Logo">
{% endblock logo %}

{% block content %}

<div class="todo-container">
    <article class="task-list">
        <h1 class="h1 text-center">
            <i class="fas fa-check-square lg"></i>
             To Do :
        </h1>

        <ul class="task-list">
            {% for task in tasks %}
            
            <li class="task-item"> 
                <div class="task-title">
                    {% if task.completed %}
                        <div class="task-content">
                            <i><s><a href="{% url 'task' task.id %}">{{ task.title }}</a> <i class="fa-solid fa-check"></i></s></i>
                        </div>
                    {% else %}
                        <div class="task-content">
                            <u><a href="{% url 'task' task.id %}">{{ task.title }}</a></u>
                        </div>
                    {% endif %}
                </div>
                {% if task.category %}
                <div class="task-category"> 
                    {{ task.category }}
                </div>
                {% else %}
                    <div class="task-category"></div>  <!-- Empty div to maintain spacing -->
                {% endif %}
                <div class="task-actions">
                    <a href="{% url 'edit_task' task.id %}" class="text-info" data-mdb-tooltip-init title="Edit todo"><i class="fas fa-pencil-alt me-3"></i></a>
                    <a href="{% url 'delete_task' task.id %}" class="text-danger" data-mdb-tooltip-init title="Delete todo"><i class="fas fa-trash-alt"></i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
    
        <div class="buttons-container">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'create_task' %}'">Create New</button>
            
            <form method="POST" action="{% url 'delete_finished_tasks' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete Finished</button>
            </form>
        </div>
        
    </article>
</div>
{% endblock content %}