{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extra_css%}

{% block title%}
    {{task.title}}
{% endblock title%}

{% block content %}
<div class="todo-container">
<article class="task-list">
    <h1 class="task-title text-center">
        <i class="fas fa-check-square lg"></i>
        {{ task.title }}
    </h1>

    <ul class="task-list">
        <li class="task-item">
            <strong>Description:</strong> {{ task.description|default:"No description" }}
        </li>
        <li class="task-item">
            <strong>Category:</strong> {{ task.category|default:"No category" }}
        </li>
        <li class="task-item">
            <strong>Completed:</strong> {% if task.completed %} ✅ Yes {% else %} ❌ No {% endif %}
        </li>
        <li class="task-item">
            <strong>Created at:</strong> {{ task.created_at|date:"F d, Y H:i" }}
        </li>
        <li class="task-item">
            <strong>Last updated:</strong> {{ task.updated_at|date:"F d, Y H:i" }}
        </li>
    </ul>

    <div class="buttons-container">
        <button  type="button" class="btn btn-primary" onclick="window.location.href='{% url 'edit_task' task.id %}'">Edit Task</button>
        <button  type="button" class="btn btn-danger" onclick="window.location.href='{% url 'delete_task' task.id %}'">Delete Task</button>
        
    </div>
</article>
</div>
{% endblock content %}