{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="todo-container">
    <article class="task-list">
        <h1 class="task-title text-center">
            
            Oops! Page Not Found (403)
        </h1>
    
        <ul class="task-list">
            <li class="task-item">
                <strong><p>You dont have access to his page</p></strong>
            </li>
            
        </ul>
    
        <div class="buttons-container">
           
            <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'tasks' %}'">Return</button>
            
        </div>
    </article>
    </div>
{% endblock content %}